In [1]:
# Imports necesarios
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
#cargamos los datos de entrada

sns.set_style("darkgrid")

path_file = "C:/Users/user/Desktop/pipe/Proyecto/Datos_Generales/Apendice_D.xlsx"

dta = pd.read_excel(path_file)
df = pd.DataFrame(dta)

In [3]:
#veamos cuantas dimensiones y registros contiene
dta.shape

(3630, 3)

In [4]:
# Ahora veamos algunas estadísticas de nuestros datos
dta

         comp1     comp2     VENTA
0     0.007035  0.000527  0.420915
1    -0.012700  0.003650  0.455799
2     0.007035  0.000527  0.284335
3    -0.015216 -0.000089  0.447846
4     0.007035  0.000527  0.407667
...        ...       ...       ...
3625 -0.019602 -0.000039  0.322389
3626 -0.018018  0.000140  0.409969
3627 -0.014546 -0.005195  0.395980
3628 -0.004313 -0.003408  0.584510
3629 -0.019620  0.000071  0.326728

[3630 rows x 3 columns]

In [5]:
#sns.set(color_codes=True)

#g = sns.pairplot(dta, diag_kind='hist', palette="viridis")
#for ax in g.axes.flat:
#    plt.setp(ax.get_xticklabels(), rotation = 45)

In [6]:
#sns.relplot(x = "VENTA", y = "TOTAL_REM2", data = dta)
#sns.relplot(x = "VENTA", y = "TOTPERSO", data = dta)
#sns.relplot(x = "VENTA", y = "comp1", data = dta, kind = "scatter")
#sns.relplot(x = "VENTA", y = "comp2", data = dta, kind = "scatter")

In [7]:
X = pd.DataFrame(dta.iloc[:,0:2].values)
print(X)

y = dta.iloc[:,[2]]
print(y)

             0         1
0     0.007035  0.000527
1    -0.012700  0.003650
2     0.007035  0.000527
3    -0.015216 -0.000089
4     0.007035  0.000527
...        ...       ...
3625 -0.019602 -0.000039
3626 -0.018018  0.000140
3627 -0.014546 -0.005195
3628 -0.004313 -0.003408
3629 -0.019620  0.000071

[3630 rows x 2 columns]
         VENTA
0     0.420915
1     0.455799
2     0.284335
3     0.447846
4     0.407667
...        ...
3625  0.322389
3626  0.409969
3627  0.395980
3628  0.584510
3629  0.326728

[3630 rows x 1 columns]

In [8]:
reg = LinearRegression()
reg = reg.fit(X, y)

y_pred = reg.predict(X)
error = np.sqrt(mean_squared_error(y, y_pred))
r2 = reg.score(X, y)

In [9]:
print("El error es: ", error)
print("El valor de r^2 es: ", r2)
print("Los coeficientes son: ", reg.coef_)

El error es:  0.08967707968225035
El valor de r^2 es:  0.38407152847810244
Los coeficientes son:  [[ 1.66718015 -1.03723989]]