In [1]:
# Imports necesarios
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
#cargamos los datos de entrada
sns.set_style("darkgrid")

path_file = "C:/Users/user/Desktop/pipe/Proyecto/Datos_Generales/Apendice_E.xlsx"
dta = pd.read_excel(path_file)
df = pd.DataFrame(dta)

path_file_2018 = "C:/Users/user/Desktop/pipe/Proyecto/Datos_Generales/Apendice_J.xlsx"
dta_2018 = pd.read_excel(path_file_2018)
df_2018 = pd.DataFrame(dta_2018)

In [3]:
dta.drop(['PUBLICI'], axis=1, inplace=True)
#veamos cuantas dimensiones y registros contiene
dta.shape

(3630, 9)

In [4]:
dta_2018.shape

(808, 9)

In [5]:
# Ahora veamos algunas estadísticas de nuestros datos
dta

,ARRIENDO,SERVINT,TRANSP,SERVEXT2,TOTAL_REM2,TOTPERSO,INVPRO,CTO,VENTA
0,0.006629,0.005813,0.008565,0.009248,0.010228,0.001605,0.017845,0.016319,0.420915
1,0.000261,0.000262,0.001022,0.002215,0.001246,0.001783,0.008055,0.003807,0.455799
2,0.006629,0.005813,0.008565,0.009248,0.010228,0.001783,0.017845,0.016319,0.284335
3,0.000104,0.000285,0.000121,0.003956,0.001138,0.001783,0.003645,0.003423,0.447846
4,0.006629,0.005813,0.008565,0.009248,0.010228,0.001961,0.017845,0.016319,0.407667
...,...,...,...,...,...,...,...,...,...
3625,0.000127,0.000866,0.000221,0.000524,0.001358,0.001783,0.000692,0.000763,0.322389
3626,0.000010,0.000954,0.001325,0.000127,0.001947,0.002496,0.001792,0.002143,0.409969
3627,0.000121,0.000537,0.008565,0.009248,0.001062,0.001783,0.000352,0.002049,0.395980
3628,0.006629,0.004568,0.002951,0.006272,0.018687,0.026391,0.007542,0.012081,0.584510
3629,0.000241,0.000285,0.000086,0.000856,0.001527,0.001605,0.000897,0.000999,0.326728

In [6]:
dta_2018

,ARRIENDO,SERV_INT,TRANSP,SERV_EXT,TOTAL_REM,TOT_PERSO,INV_PRO,CTO,VENTA
0,8.860651e-03,0.000189,0.000803,0.000004,0.000604,0.002342,0.007008,0.006278,0.710802
1,7.954228e-04,0.000421,0.000015,0.000035,0.000754,0.002577,0.000069,0.000545,0.701349
2,8.860651e-03,0.000004,0.000001,0.000007,0.000620,0.000000,0.000191,0.000490,0.415860
3,1.312818e-06,0.000520,0.000211,0.000271,0.000106,0.003279,0.000143,0.000887,0.302962
4,2.067429e-08,0.002335,0.000031,0.001847,0.002749,0.011712,0.000453,0.026781,0.836514
...,...,...,...,...,...,...,...,...,...
803,2.002409e-04,0.000009,0.000547,0.000003,0.001220,0.004919,0.003769,0.001568,0.583851
804,1.188772e-06,0.000965,0.000279,0.000212,0.000083,0.001640,0.002676,0.000040,0.174399
805,3.214853e-06,0.000033,0.000233,0.000007,0.000089,0.002577,0.000173,0.003258,0.632336
806,8.434182e-04,0.000088,0.001154,0.000043,0.000029,0.007730,0.000119,0.013579,0.561539
807,4.920482e-06,0.000162,0.003404,0.001960,0.000334,0.010307,0.000113,0.001483,0.542146

In [7]:
#sns.set(color_codes=True)

#g = sns.pairplot(dta, diag_kind='hist', palette="viridis")
#for ax in g.axes.flat:
#    plt.setp(ax.get_xticklabels(), rotation = 45)

In [8]:
X = pd.DataFrame(dta.iloc[:,0:8].values)
print(X)
y = dta.iloc[:,[8]]
print(y)

             0         1         2         3         4         5         6  \
0     0.006629  0.005813  0.008565  0.009248  0.010228  0.001605  0.017845
1     0.000261  0.000262  0.001022  0.002215  0.001246  0.001783  0.008055
2     0.006629  0.005813  0.008565  0.009248  0.010228  0.001783  0.017845
3     0.000104  0.000285  0.000121  0.003956  0.001138  0.001783  0.003645
4     0.006629  0.005813  0.008565  0.009248  0.010228  0.001961  0.017845
...        ...       ...       ...       ...       ...       ...       ...
3625  0.000127  0.000866  0.000221  0.000524  0.001358  0.001783  0.000692
3626  0.000010  0.000954  0.001325  0.000127  0.001947  0.002496  0.001792
3627  0.000121  0.000537  0.008565  0.009248  0.001062  0.001783  0.000352
3628  0.006629  0.004568  0.002951  0.006272  0.018687  0.026391  0.007542
3629  0.000241  0.000285  0.000086  0.000856  0.001527  0.001605  0.000897

             7
0     0.016319
1     0.003807
2     0.016319
3     0.003423
4     0.016319
...        ...
3625  0.000763
3626  0.002143
3627  0.002049
3628  0.012081
3629  0.000999

[3630 rows x 8 columns]
         VENTA
0     0.420915
1     0.455799
2     0.284335
3     0.447846
4     0.407667
...        ...
3625  0.322389
3626  0.409969
3627  0.395980
3628  0.584510
3629  0.326728

[3630 rows x 1 columns]

In [9]:
XX = pd.DataFrame(dta_2018.iloc[:,0:8].values)
print(XX)
yy = dta_2018.iloc[:,[8]]
print(yy)

                0         1         2         3         4         5         6  \
0    8.860651e-03  0.000189  0.000803  0.000004  0.000604  0.002342  0.007008
1    7.954228e-04  0.000421  0.000015  0.000035  0.000754  0.002577  0.000069
2    8.860651e-03  0.000004  0.000001  0.000007  0.000620  0.000000  0.000191
3    1.312818e-06  0.000520  0.000211  0.000271  0.000106  0.003279  0.000143
4    2.067429e-08  0.002335  0.000031  0.001847  0.002749  0.011712  0.000453
..            ...       ...       ...       ...       ...       ...       ...
803  2.002409e-04  0.000009  0.000547  0.000003  0.001220  0.004919  0.003769
804  1.188772e-06  0.000965  0.000279  0.000212  0.000083  0.001640  0.002676
805  3.214853e-06  0.000033  0.000233  0.000007  0.000089  0.002577  0.000173
806  8.434182e-04  0.000088  0.001154  0.000043  0.000029  0.007730  0.000119
807  4.920482e-06  0.000162  0.003404  0.001960  0.000334  0.010307  0.000113

            7
0    0.006278
1    0.000545
2    0.000490
3    0.000887
4    0.026781
..        ...
803  0.001568
804  0.000040
805  0.003258
806  0.013579
807  0.001483

[808 rows x 8 columns]
        VENTA
0    0.710802
1    0.701349
2    0.415860
3    0.302962
4    0.836514
..        ...
803  0.583851
804  0.174399
805  0.632336
806  0.561539
807  0.542146

[808 rows x 1 columns]

In [10]:
reg = LinearRegression()
reg = reg.fit(X, y)

y_pred = reg.predict(X)
error = np.sqrt(mean_squared_error(y, y_pred))
r2 = reg.score(X, y)

print("El error es: ", error)
print("El valor de r^2 es: ", r2)
print("Los coeficientes son: ", reg.coef_)

El error es:  0.08385038594431216
El valor de r^2 es:  0.4615101810015012
Los coeficientes son:  [[-2.4971161   0.71957884 -1.10166399 -1.24746497 -0.80479011  4.32552242
   0.16661612  1.45248296]]

In [11]:
y_pred2 = reg.predict(XX)
error2 = np.sqrt(mean_squared_error(yy, y_pred2))
r22 = reg.score(XX, yy)
print("El error es: ", error2)
print("El valor de r^2 es: ", r22)

El error es:  0.17484214350267294
El valor de r^2 es:  0.37445519062704347